* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply text-slate-800;
}

#root {
  overflow-x: hidden;
}

.card:hover > .overlay {
  display: block;
}

.flex-center {
  @apply flex items-center justify-center;
}

.transition-normal {
  @apply transition-all duration-300 ease-in-out;
}

.temp {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 20px;
}
