* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply text-slate-800;
}

#root {
  overflow-x: hidden;
}

.card:hover>.overlay {
  display: block;
}

.flex-center {
  @apply flex items-center justify-center;
}

.transition-normal {
  @apply transition-all duration-300 ease-in-out;
}

.image-gallery {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 400px);
  justify-content: space-between;
  grid-auto-rows: 20px;
}

@media (max-width: 1240px) {
  .image-gallery {
    grid-template-columns: repeat(3, 330px);
  }
}

@media (max-width: 1030px) {
  .image-gallery {
    grid-template-columns: repeat(2, 420px);
  }
}

@media (max-width: 880px) {
  .image-gallery {
    grid-template-columns: repeat(2, 370px);
  }
}

@media (max-width: 760px) {
  .image-gallery {
    grid-template-columns: 600px;
    justify-content: center;
  }
}

@media (max-width: 620px) {
  .image-gallery {
    grid-template-columns: 450px;
  }
}
@media (max-width: 470px) {
  .image-gallery {
    grid-template-columns: 340px;
  }
}